spaceTest.txt
*.pdf
PDFA_def.ps
AdobeRGB1998.icc
testAdobeRGB1998.icc
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
.DS_Store
**/*.DS_Store

    
